<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--singleton 单例模式-->
   <bean id="car" class="bao3_spring_init_test_destory.car"
    scope="singleton"
    init-method="init"
    destroy-method="destroy">
       <property name="name" value="aodi"/>
   </bean>
</beans>