<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="aop" class="bao4_spring_aop.aop"></bean>
    <bean id="log1" class="bao4_spring_aop.log1"></bean>
    <aop:config>
        <!--切面-->
        <aop:pointcut expression="execution(* bao4.*.*(..))" id="point"/>
        <aop:aspect ref="log1">
            <!--切点-->
            <aop:before method="before" pointcut-ref="point"/>
            <aop:after method="after" pointcut-ref="point"/>
            <aop:after-returning method="afterreturning" pointcut-ref="point" returning="result"/>
            <aop:after-throwing method="afterthrowing" pointcut-ref="point" throwing="e"/>
        </aop:aspect>
    </aop:config>

</beans>